<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="app">

        <div class="debug container">
            <div class="debug row_contacts">
                <div class="col_nav">

                    <div class="profile_nav">
                        <img class="img_nav" :src="profile.avatar" alt="avatar_io" srcset="">
                        <div>
                            {{profile.name}}
                        </div>
                    </div>
                    
                    <div class="icon_nav">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                <div class="col_notifiche">

                    <div id="container_icon_bell">
                        <i id="icon_bell" class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div>
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>
                <div class="col_find_chat">

                    <span id="icon_find_chat"><i class="fa-solid fa-magnifying-glass"></i></span>
                    
                    <div id="message_to_write">
                        <input id="input_message" type="text" placeholder="cerca o inizia una nuova chat" v-model="searchName" >
                    </div>
                </div>
                
                <div class="col" :class="index === activeContact ? 'active' : ''" v-for="(chat, index) in filteredContacts" @click="activeContact = index">
                    <div class="content_contact_profile">
                        
                        <img :src="chat.avatar" alt="avatar_image" >

                        <div>

                            <div class="name">
                            
                                {{chat.name}}
    
                            </div>
                        
                            <div class="last_message">
                            ultimo messaggio inviato
                            </div>

                        </div>
                        

                    </div>

                    <div class="currentDate">
                        {{currentDateHour}}: {{currentDateMinutes}}

                    </div>
                    
                </div>
               
                <div class="col_empty_bottom"></div>
            </div>
            <div class="debug row_chat_section">
                <div class="col_nav">
                    <div class="profile_nav">
                        <img class="img_nav" :src="contacts[activeContact].avatar" alt="avatar_michele">
                        <div>
                            {{ contacts[activeContact].name }}
                        </div>
                    </div>

                    <div class="icon_nav">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                <div class="col_chat">

                    <div class="chat" :class="singleMessage.status" v-for="singleMessage in contacts[activeContact].messages">

                        <div class="message">
                            {{singleMessage.message}}

                            <div class="date">
                                {{singleMessage.date}}
                            </div>

                            

                        </div>
                            
                        

                    </div>

                        
                    

                </div>

                <div class="col_chat_interaction">

                    <div class="icon"><i class="fa-regular fa-face-smile"></i></div>

                    <div id="message_to_write">
                        <input id="input_message" type="text" placeholder="write a message" v-model="newMessage" @keyup.enter="addMessage">
                    </div>
                    <div class="icon"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>