*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */

:root{

    --bg_green: #009688;
    --bg_grey: #dbdbd2;
    --bg-interact: #f3eeea;
    --bg-icon_message: #6b757f;
    --bg-nav: #eaeaea;
    --icon_nav: #b1b1b1;
    --col-notifiche: #8edafc;
    --col-active: #e9ebeb;
    --bg-sent: #d5f9ba;
    

}

/* layout */

#app{

    padding: 1rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
        #dbdbd2 0%,
        #dbdbd2 80%,
        #009688 80%,
        #009688 100%
    )
    

}

.debug{

    border: 1px solid black;

}

.container{

    margin: 1rem auto;
    width: 80%;
    height: 90%;
    display: flex;

}

.row_contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row_chat_section{

    width: 100%;
    display: flex;
    flex-direction: column;


}

.col{

    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.col.active{

    background-color: var(--col-active);

}


.col_notifiche{

    width: 100%;
    height: 60px;
    border: 1px solid lightgrey;
    background-color: var(--col-notifiche);
    display: flex;
    align-items: center;
    padding: 1rem;
    
}

.col_nav{

    background-color: var(--bg-nav);
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col_find_chat{

    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: #ffff;
    display: flex;
    align-items: center;
    
}

.content_contact_profile{

    display: flex;
    justify-content: space-between;

}

.col_chat{

    flex-grow: 2;
    background-image: url('../img/mine.jpg');
    width: 100%;
    display: flex;
    
}

.left_chat{

    width: 50%;
    height: 100%;
    margin-left: 3rem;
}

.right_chat{

    width: 50%;
    height: 100%;
    display: flex;
    

}

.col_empty_bottom{
    width: 100%;
    height: 60px;
    background-color: #fff;

}

.col_chat_interaction{

    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: var( --bg-interact);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* detail layout */

.profile_nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
}



img{
     
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;

}

.currentDate{

    color: var(--icon_nav);
    font-size: 10px;
    padding: 10px;

}



.icon{

    width: 10%;
    text-align: center;
    color: var(--bg-icon_message);

}

#container_icon_bell{

    background-color: #fff;
    border-radius: 50%;
    padding: 10px;

}

#icon_find_chat{

    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    width: 15%;
    text-align: center;
    color: var(--icon_nav);

}

#icon_bell{

    width: 100%;
    height: 20px;
    color: var(--col-notifiche);
    

}

.icon_nav{

    width: 25%;
    text-align: center;
    color: var(--icon_nav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;

}

.name{

    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
}

.message_received{

    width: 60%;
    height: 70px;
    background-color: #ffff;

}

.message_sent{

    width: 60%;
    height: 70px;
    background-color: var(--bg-sent);
    align-self: flex-end;

}

.last_message{

    color: #b1b1b1;
    font-size: 12px;
    padding: 5px;

}

#message_to_write{

    width: 80%;

}

#input_message{


    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;

}
