*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */

:root{

    --bg_green: #009688;
    --bg_grey: #dbdbd2;
    --bg-interact: #f3eeea;
    --bg-icon_message: #6b757f;
    --bg-nav: #eaeaea;
    --icon_nav: #b1b1b1;
    --col-notifiche: #8edafc;

}

/* layout */

#app{

    padding: 1rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
        #dbdbd2 0%,
        #dbdbd2 80%,
        #009688 80%,
        #009688 100%
    )
    

}

.debug{

    border: 1px solid black;

}

.container{

    margin: 1rem auto;
    width: 80%;
    height: 90%;
    display: flex;

}

.row_contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row_chat_section{

    width: 100%;
    display: flex;
    flex-direction: column;


}

.col{

    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: #ffff;
    
}

.col_notifiche{

    width: 100%;
    height: 60px;
    border: 1px solid lightgrey;
    background-color: var(--col-notifiche);
    display: flex;
    align-items: center;
    padding: 1rem;
    
}

.col_nav{

    background-color: var(--bg-nav);
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col_chat{

    flex-grow: 2;
    background-image: url('../img/mine.jpg');
    width: 100%;
    
}

.col_empty_bottom{
    width: 100%;
    height: 60px;
    background-color: #fff;

}

.col_chat_interaction{

    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: var( --bg-interact);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* detail layout */

.profile_nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{

    width: 100%;
    height: 40px;
    border-radius: 50%;

}



.icon{

    width: 10%;
    text-align: center;
    color: var(--bg-icon_message);

}

#container_icon_bell{

    background-color: #fff;
    border-radius: 50%;
    padding: 10px;

}

#icon_bell{

    width: 100%;
    height: 20px;
    color: var(--col-notifiche);
    
    
    



}

.icon_nav{

    width: 25%;
    text-align: center;
    color: var(--icon_nav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;

}

#message_to_write{

    width: 80%;

}

#input_message{


    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;

}
